<div>
  <h1>პაროლის აღდგენა, {{name}}</h1>
  <p>
    ვიღაცამ (იმედია თქვენ) მოითხოვა პაროლის აღდგენა თქვენი Gift Moments ანგარიშისთვის. 
    თუ ეს თქვენ იყავით, გთხოვთ დააჭიროთ ქვემოთ მოცემულ ღილაკს ახალი პაროლის დასაყენებლად:
  </p>
  <p>
    <a href="{{resetUrl}}" style="padding: 10px 20px; background-color: #2196F3; color: white; text-decoration: none; border-radius: 5px;">
      პაროლის აღდგენა
    </a>
  </p>
  <p>
    თუ არ მოგითხოვიათ ეს, შეგიძლიათ უგულებელყოთ ეს ელფოსტა. თქვენი პაროლი უცვლელი დარჩება.
  </p>
  <p>
    ამ პაროლის აღდგენის ბმულს ვადა გაუვა {{expiresIn}}-ში.
  </p>
  <p>
    თუ ღილაკი არ მუშაობს, ასევე შეგიძლიათ დააკოპიროთ და ჩასვათ ეს ბმული თქვენს ბრაუზერში:
    <br>
    <a href="{{resetUrl}}">{{resetUrl}}</a>
  </p>
  <p>
    გმადლობთ,<br>
    Gift Moments გუნდი
  </p>
</div>
