<div>
  <h1>Reminder: Gifts Capsule assigned to you is About to Open!</h1>
  <p>
    Hello {{name}},
  </p>
  <p>
    This is a friendly reminder that gift capsule <b>{{capsuleTitle}}</b>
     is scheduled to open soon.
  </p>
  <p>
    To view your capsule and its contents, please sign in to your Gift Moments account using the button below:
  </p>
  <p>
    <a href="{{signinUrl}}" style="padding: 10px 20px; background-color: #1976d2; color: white; text-decoration: none; border-radius: 5px;">
      Sign In to Gift Moments
    </a>
  </p>
  <p>
    If you don’t have an account yet, you can register using the same link above.
  </p>
  <p>
    Capsule scheduled open date: <b>{{openDate}}</b>
  </p>
  <p>
    If the button doesn't work, copy and paste this link into your browser:<br>
    <a href="{{signinUrl}}">{{signinUrl}}</a>
  </p>
  <p>
    Thank you,<br>
    The Gift Moments Team
  </p>
</div>